.margin-rigth{
    margin-right: 0.5rem;
}
.size-imageoffers{
    width: 300vh;
    height: 435px;
    object-fit: cover;
}
.color-badge{
  background-color:#27AE60;
  color:black;
  font-size: 18px;
  border-color: #6f4837;
}
.color-badge2{
  background-color: #E74C3C;
  color: black;
  font-size: 18px;
  border-color: #6f4837;
}
.size-span-badge{
  font-size: 11px;
}
.color-badge3{
  border-color: #6f4837;
}
.size-grid{
  font-size: 23px;
  text-align: right;
}
.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  .countdownStyle{
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (min-width: 550px){
    .size-imageoffers{
      width: 300vh;
      height: 435px;
      object-fit: cover;
      }
    .offerStyle{
      display: flex;
      justify-content: center;
    }
    }